body {
    background-color:black; 
    font-family:arial; 
    color:white;
    margin: auto;
    width: 50%;
    padding: 10px;
}
h1{
    color:grey;
    font-family: verdana;    
}
.maindiv h1{
    text-align: center;
}
.maindiv {
    background-color: white;
    color: black;
    width: 100%;
    padding: 20px;
    border-radius: 25px;
    align: center;
    margin: 20px;
}

label{
    display: inline-block;
    float: left;
    clear: right;
    width: 95px;
    text-align: left;
}
input {
  display: inline-block;
  float: left;
}


